In [1]:
import tushare as ts

df = ts.get_realtime_quotes('000581') #Single stock symbol

In [2]:
print df

   name    open pre_close   price    high     low     bid     ask   volume  \
0  威孚高科  24.820    24.940  25.100  25.220  24.660  25.100  25.110  4914937

          amount   ...      a2_p a3_v    a3_p a4_v    a4_p a5_v    a5_p  \
0  122489640.250   ...    25.120   20  25.130   27  25.140  266  25.150

         date      time    code
0  2017-11-07  10:26:12  000581

[1 rows x 33 columns]

In [3]:
df

,name,open,pre_close,price,high,low,bid,ask,volume,amount,...,a2_p,a3_v,a3_p,a4_v,a4_p,a5_v,a5_p,date,time,code
0,威孚高科,24.820,24.940,25.100,25.220,24.660,25.100,25.110,4914937,122489640.250,...,25.120,20,25.130,27,25.140,266,25.150,2017-11-07,10:26:12,000581

In [4]:
df.index

RangeIndex(start=0, stop=1, step=1)

In [5]:
df.columns

Index([u'name', u'open', u'pre_close', u'price', u'high', u'low', u'bid',
       u'ask', u'volume', u'amount', u'b1_v', u'b1_p', u'b2_v', u'b2_p',
       u'b3_v', u'b3_p', u'b4_v', u'b4_p', u'b5_v', u'b5_p', u'a1_v', u'a1_p',
       u'a2_v', u'a2_p', u'a3_v', u'a3_p', u'a4_v', u'a4_p', u'a5_v', u'a5_p',
       u'date', u'time', u'code'],
      dtype='object')

In [7]:
df.values

array([[u'\u5a01\u5b5a\u9ad8\u79d1', u'24.820', u'24.940', u'25.100',
        u'25.220', u'24.660', u'25.100', u'25.110', u'4914937',
        u'122489640.250', u'20', u'25.100', u'17', u'25.090', u'149',
        u'25.080', u'87', u'25.070', u'50', u'25.060', u'4', u'25.110',
        u'312', u'25.120', u'20', u'25.130', u'27', u'25.140', u'266',
        u'25.150', u'2017-11-07', u'10:26:12', u'000581']], dtype=object)

In [9]:
df['name']

0    威孚高科
Name: name, dtype: object

In [10]:
a=df['name']

In [11]:
a

0    威孚高科
Name: name, dtype: object

In [12]:
print a

0    威孚高科
Name: name, dtype: object

In [13]:
a.values

array([u'\u5a01\u5b5a\u9ad8\u79d1'], dtype=object)

In [ ]:
a[0]

In [ ]:
df = ts.get_realtime_quotes('000581') #Single stock symbol